fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
crewai
crewai-tools
chromadb
sqlalchemy==2.0.35
psycopg2-binary
python-gitlab==5.6.0
python-multipart==0.0.6
requests
uvloop==0.21.0 ; sys_platform != "win32"